/* @font-face {
  font-family: 'Cinzel Regular';
  src: url('../fonts/cinzel/Cinzel-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel Semibold';
  src: url('../fonts/cinzel/Cinzel-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Cinzel Bold';
  src: url('../fonts/cinzel/Cinzel-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Extra ExtraBold';
  src: url('../fonts/cinzel/Cinzel-ExtraBold.ttf') format('truetype');
} */
